


*{
    margin: 0;
    padding: 0;
  }
  #topbar{
    width: 100%;
    height:auto;
    background: #eebb20;
  }
  #header{
    height:100vh;
  }
  
  .navbar-style{
 
    background: white;
  }
  
  .logo{
    height: 48px;
    padding: 2px 10px;
  }
  
  .navbar-toggler-icon{
    color: #eebb20 !important;
    width: 50px;

        
   
  }
  li a{
    color:#333
  }
  .navbar-collapse{
     
  }
  .react-responsive-modal-modalCenter{
    position: relative;
    z-index: 999999 !important;
  }