
  #topbar{
    width: 100%;    
    background: #eebb20;
  }
  #topbar p{
    font-size: 14px;
    padding: 9px 0px; 
    margin-bottom: 0rem;
    font-weight: 400;
  }
  #header{
    height:100vh;
  }
  .btn-dark{
    background-color: #000000 !important;
  }
    /*
  .navbar-style{
    
    background: white;
  }
  .navbar-nav{
    color: #000000 !important;
  }
  
  
  .navbar-toggler-icon{
    color: #eebb20 !important;
    width: 50px;}
  li a{
    color:#333
  }
  .navbar-collapse{
     
  }
        
   
  }*/
  
  .react-responsive-modal-modalCenter{
    position: relative;
    z-index: 999999 !important;
  }

  /*
    ===============================
            Navbar Styles
    ===============================
*/

.navbar {
   overflow: hidden;
  background: #fff;
}

.navbar .logo {
  padding-left: 0px !important;
  margin-left:0px !important;
}

.navbar input , .navbar label {
  position: absolute;
  top: 13px;
  right: 25px;
}

.navbar input {
  display: none
}

.navbar label {
  display: block;
  width: 40px;
  height: 40px;
  background: url('../assets/img/Navbar/open.png') no-repeat ;
  background-size: cover;
 
  cursor: pointer;
}

.navbar input:checked ~ .ul-list {
  display: block;
}

.navbar input:checked ~ label {
  background: url('../assets/img/Navbar/close.png') no-repeat ;
  background-size: cover;
}

.navbar .ul-list {
  font-size: 13px;
  letter-spacing: 2px;
  color: #000000;
  list-style: none;
  display: flex;
  align-items: center;
}

.navbar .ul-list .list-item {
  display: inline-flex;
}

.navbar .ul-list .list-item a {
  display: block;
  color: #000000;
  text-decoration: none;
  padding: 10px 15px;

}

.navbar .ul-list .list-item a:hover {

}
.navbar .ul-list .list-item .conx{
  font-size: 11px;
  color: #000000;
  letter-spacing: 1px;
}
.conx img{
  width: 30%;
}
.autosug_header_after{
  border-left: 2px solid #eebb20;
}
.autosug_header_welcome a.btn{
  letter-spacing: 3px;
  font-size: 12px;
  display: initial;
  padding: 6px 12px;
}
.autosug_header_welcome{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Media for Navbar Style */ 

@media (min-width : 800px) {
  .navbar label {
      display: none
  }
}

@media (max-width : 800px) {
  .navbar .logo {
      width: 100%;
      float: none;
  }
  
  .navbar .ul-list {
      width: 100%;
      float:  none;
      margin-top: 20px;
      display: none
  }
  
  .navbar .ul-list .list-item {
      display: block;
      text-align: center;
  }
}
