.loginForm{
    width: 400px;
    height: auto;
    text-align: center;
   
}
 span{
   
    color:#eebb20;
}
.react-tabs__tab{
    border: 0 !important;
    margin-left: 10px;
    margin-right: 10px;
    }
  
  .react-tabs__tab.react-tabs__tab--selected{
    background-color: transparent;
    border-bottom:2px solid black !important;
    transition: all ease-in-out .2s;
    }
  
  .react-tabs__tab-list{
    border-bottom: none !important;
  }
  .invalid-feedback{

    padding-top:0px;
  }
  .type_user:focus{
      border-bottom: 2px solid #eebb20 !important;
  }