*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif !important;
}
/*.btn-warning,.btn-dark{
  font-weight: 400;
  font-size: 14px;
  outline: none;
  margin-bottom:8px !important;
}*/
.btn.btn-autosug-jaune{
  font-weight: 400;
  font-size: 14px;
  outline: none;
  background-color: #EEBB20;
  color: #000000;
  letter-spacing: 2px;
  padding: 6px 27px;
  height: 40px;
}
.btn.btn-search{
  width: 100%;
}

/*.form-group,.form-check ,.form-control{
  margin-bottom:8px !important;
  border: 0px !important; 
  margin-top:15px !important;
  
}*/

#result h5,h6{
  padding: 0px 0px 0 0px;
  font-weight: normal;
}
#result .row{
  padding-left: 70px;
}
#footer{
  width: 100%;
  height: auto;
  background-color: black;
  color:white;
}
#footer ul{
  list-style-type: none;
}

#footer span{
  color:#eebb20 ;
}
#footer p{
  font-size: 10px;
  text-align: justify;
  padding-top: 1px;
}
.footmenu ul{
 margin-left: -12px !important;
}
#social-icons img{
  margin-right:10px;
}
.input-group{
  width: 80% !important;
}
.input-group-append{
  height: 40px;
}
.footmenu {
  font-weight: 300;
  line-height: 29px;
}
.footmenu p{
  font-weight: 300;
  line-height: 20px;
}
.autosug-footer h6{
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 20px;
}
.autosug-footer input{
  width: 100%;
  height: 40px;
  padding: 0px 15px;
  font-size: 12px;
  line-height: 1.75;
  color: #252424;
  background-color: #ffffff;
  letter-spacing: 1px;
  border: none;
}
.btn.btn-newsletter{
  padding: 0;
  width: 43px;
}
#social-icons ul li{
  display: inline-block;
  margin: 0 5px;
}
#social-icons ul li svg{
  font-size: 24px;
}
#social-icons ul li a{
  color: #fff;
}
#social-icons ul li a:focus, #social-icons ul li a:active, #social-icons ul li a:hover{
  color: #EEBB20;
}
@media (max-width : 800px) {
  .footmenu ul ,.footmenu h6{
    margin-left: 10 !important;
   }
   
}
