*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif !important;
}
.btn-warning,.btn-dark{
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 5px !important;
    outline: none;
    margin-bottom:8px !important;
   
}
.form-group,.form-check ,.form-control{
  margin-bottom:8px !important;
  border: 0px !important; 
  margin-top:15px !important;
  
}

#result h5,h6{
    padding: 0px 0px 0 0px;
    font-weight: normal;
}
#result .row{
    padding-left: 70px;
}
#footer{
  width: 100%;
  height: auto;
  background-color: black;
  color:white;
}

#footer ul{
  list-style-type: none;

}
#footer ul li{
  font-size: small;
  padding-left: 15px;
}

#footer span{
  color:#eebb20 ;
}
#footer p{
  font-size: 10px;
  text-align: justify;
  padding-top: 1px;

}
.footmenu ul{
 margin-left: -12px !important;
}

#social-icons img{
  margin-right:10px;
}
.input-group{
  width: 80% !important;
}
.input-group-append{
  width: 10%;
  height: 38px;
  margin-top: 15px;
}
.footmenu {
  font-weight: 300;
  line-height: 29px;

}
.footmenu p{
  font-weight: 300;
  line-height: 20px;

}

@media (max-width : 800px) {
  .footmenu ul ,.footmenu h6{
    margin-left: 10 !important;
   }
   
}
